<IfModule mod_rewrite.c>
  RewriteEngine On

  # Handle missing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /index.php [NC,L,QSA]
</IfModule>
